version: '3'

services:
  django:
    image:  vladislavmalygin/kudasova_backend
    volumes:
      - ./backend:/app
      - db_data:/app/
    env_file:
      - .env  # Используем файл .env
    expose:
      - "8000"  # Открываем порт для связи с Nginx

  react:
    image: vladislavmalygin/kudasova_frontend
    volumes:
      - ./frontend/kudasova:/app
    env_file:
      - .env  # Используем файл .env
    expose:
      - "3000"  # Открываем порт для связи с Nginx

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"  # Открываем порт 80 для внешнего доступа
    depends_on:
      - django
      - react

volumes:
  db_data:  # Определяем том для базы данных
