attrs
autocommand==2.2.2
cffi==1.17.1
cryptography==44.0.2
docutils==0.21.2
filelock==3.18.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
legacy-cgi==2.6.3
more-itertools==10.6.0
packaging==24.2
platformdirs==4.3.6
pycairo==1.27.0
pycparser==2.22
PyGObject==3.52.3
ranger-fm==1.9.4
setuptools==75.8.0
shadowsocks==3.0.0
wheel==0.45.1
Django
Pillow
Django-rest-framework
Django_cors_headers