:root {
    --primary-color: #D8BFD8; /* Основной цвет */
    --button-background: white; /* Цвет фона кнопки */
    --button-hover-background: #DDA0DD; /* Цвет фона кнопки при наведении */
    --button-text-color: black; /* Цвет текста кнопки */
    --text-block-background: white; /* Цвет фона текстового блока */
    --text-block-shadow: rgba(0, 0, 0, 0.1); /* Тень для текстового блока */
    --form-background: white; /* Цвет фона формы */
    --form-border-color: #ccc; /* Цвет рамки полей ввода */
    --form-border-focus-color: var(--primary-color); /* Цвет рамки при фокусе */
}

background-image: url('./images/background.jpg');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: var(--primary-color); /* Используем переменную */
    padding: 20px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 60px;
}

nav {
    display: flex;
    gap: 10px; /* Промежуток между кнопками */
}

button {
    background-color: var(--button-background); /* Используем переменную */
    border: none;
    color: var(--button-text-color); /* Используем переменную */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Закругление углов кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

button:hover {
    background-color: var(--button-hover-background); /* Используем переменную */
    color: white; /* Цвет текста при наведении */
}

/* Контейнер для главной страницы */
.main-container {
    display: grid;
    grid-template-columns: 1fr; /* Один столбец */
    gap: 20px; /* Отступы между блоками */
    max-height: 80vh; /* Максимальная высота контейнера */
    max-width: 100%; /* Максимальная ширина контейнера */
    overflow-y: auto; /* Включаем вертикальную прокрутку */
    overflow-x: auto; /* Включаем горизонтальную прокрутку */
    padding: 10px; /* Внутренние отступы для контейнера */
    margin-left: auto; /* Центрирование контейнера */
    margin-right: auto; /* Центрирование контейнера */
    max-width: 100%; /* Ограничиваем ширину изображения */
    max-height: 100%; /* Ограничиваем ширину изображения */
}

/* Общие стили для текстовых блоков */
.main-text-block, .science-text-block, .family-text-block {
    background-color: white;
    padding: 20px; /* Внутренние отступы */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень для блока */
    display: flex; /* Используем flexbox для центрирования содержимого */
    flex-direction: column; /* Вертикальное направление */
    align-items: center; /* Центрирование по горизонтали */
    text-align: center; /* Центрирование текста */
    margin-left: auto; /* Центрирование контейнера */
    margin-right: auto; /* Центрирование контейнера */
    max-width: 40%; /* Ограничиваем ширину изображения */
    max-height: 100%; /* Ограничиваем ширину изображения */

}

/* Стили для заголовков */
.main-text-block h1,
.science-text-block h2,
.family-text-block h2 {
    color: #333; /* Темный цвет текста */
    font-family: 'Arial', sans-serif; /* Шрифт */
    margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для главного изображения */
.img-main {
    max-width: 30%; /* Ограничиваем ширину главного изображения */
    height: auto; /* Автоматическая высота */
    border-radius: 4px; /* Закругленные углы для главного изображения */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для главного изображения */
}

/* Стили для изображений семьи */
.img-family {
    max-width: 50%; /* Ограничиваем ширину изображений семьи */
    height: auto; /* Автоматическая высота */
    border-radius: 4px; /* Закругленные углы для изображений семьи */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень для изображений семьи */
}


/* Стили для параграфов */
.main-text-block p,
.science-text-block p,
.family-text-block p {
    color: #555; /* Более светлый цвет текста */
    line-height: 1.6; /* Высота строки для лучшей читаемости */
    margin: 0; /* Убираем отступы у параграфа */
}



.main-background {
    position: relative; /* Для позиционирования псевдоэлемента */
    height: 100vh;
    padding: 20px;
    overflow: hidden; /* Чтобы скрыть псевдоэлемент, если он выходит за пределы */
}

.main-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/background2.jpg');
    background-size: auto;
    background-repeat:;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}

.photo-page {
    padding: 40px; /* Отступы вокруг страницы */
}

.photo-gallery {
    display: flex; /* Используем Flexbox для размещения фотографий */
    flex-wrap: wrap; /* Позволяем переносить элементы на новую строку */
    justify-content: center; /* Центрируем фотографии по горизонтали */
    justify-content: center; /* Центрируем фотографии по горизонтали */
}

.photo-item {
    background-color: white; /* Белый фон для каждого элемента */
    border: 1px solid #ddd; /* Легкая рамка вокруг элемента */
    border-radius: 8px; /* Закругление углов */
    margin: 10px; /* Отступы между элементами */
    padding: 10px; /* Внутренние отступы */
    text-align: center; /* Центрируем текст */
    width: 200px; /* Ширина элемента */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта поднятия */
}

.photo {
    width: 100%; /* Ширина изображения 100% от родительского элемента */
    height: 150px; /* Фиксированная высота для всех изображений */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
    border-radius: 4px; /* Закругление углов изображения */
    cursor: pointer; /* Указатель при наведении на изображение */
}

.photo-description {
    margin-top: 10px; /* Отступ сверху для описания */
    font-size: 14px; /* Размер шрифта для описания */
    color: #555; /* Цвет текста для описания */
}

.modal {
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    z-index: 1000; /* Убедитесь, что модальное окно выше других элементов */
}

.modal img {
    max-width: 90%; /* Максимальная ширина изображения в модальном окне */
    max-height: 90%; /* Максимальная высота изображения в модальном окне */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.video-page {
    padding: 40px; /* Отступы вокруг страницы */
}

.video-gallery {
    display: flex; /* Используем Flexbox для размещения видео */
    flex-wrap: wrap; /* Позволяем переносить элементы на новую строку */
    justify-content: center; /* Центрируем видео по горизонтали */
}

.video-item {
    background-color: white; /* Белый фон для каждого элемента */
    border: 1px solid #ddd; /* Легкая рамка вокруг элемента */
    border-radius: 8px; /* Закругление углов */
    margin: 10px; /* Отступы между элементами */
    padding: 10px; /* Внутренние отступы */
    text-align: center; /* Центрируем текст */
    width: 400px; /* Ширина элемента */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта поднятия */
}

.video {
    width: 100%; /* Ширина видео 100% от родительского элемента */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 4px; /* Закругление углов видео */
}

.video-description {
    margin-top: 10px; /* Отступ сверху для описания */
    font-size: 14px; /* Размер шрифта для описания */
    color: #555; /* Цвет текста для описания */
}



.button_add {
    position: relative;
    top: -5vh;
    right: -40.8vw;
    background-color: var(--button-background); /* Используем переменную */
    border: none;
    color: var(--button-text-color); /* Используем переменную */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Закругление углов кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.button_add:hover {
    background-color: var(--button-hover-background); /* Используем переменную */
    color: white; /* Цвет текста при наведении */
}
