:root {
    --primary-color: #D8BFD8; /* Основной цвет */
    --button-background: white; /* Цвет фона кнопки */
    --button-hover-background: #DDA0DD; /* Цвет фона кнопки при наведении */
    --button-text-color: black; /* Цвет текста кнопки */
    --text-block-background: white; /* Цвет фона текстового блока */
    --text-block-shadow: rgba(0, 0, 0, 0.1); /* Тень для текстового блока */
    --form-background: white; /* Цвет фона формы */
    --form-border-color: #ccc; /* Цвет рамки полей ввода */
    --form-border-focus-color: var(--primary-color); /* Цвет рамки при фокусе */
}

background-image: url('./images/background.jpg');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: var(--primary-color); /* Используем переменную */
    padding: 20px;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 60px;
}

nav {
    display: flex;
    gap: 10px; /* Промежуток между кнопками */
}

button {
    background-color: var(--button-background); /* Используем переменную */
    border: none;
    color: var(--button-text-color); /* Используем переменную */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Закругление углов кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

button:hover {
    background-color: var(--button-hover-background); /* Используем переменную */
    color: white; /* Цвет текста при наведении */
}

main {
    display: flex;
    flex-direction: row; /* Изменяем направление на строку */
    justify-content: space-between; /* Распределяем элементы по горизонтали */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    margin-top: 2vh;
}

.image-container {
    display: flex;
    flex-wrap: wrap; /* Перенос изображений на новую строку */
    justify-content: center; /* Центрирование изображений */
}

.img-main {
    max-width: 30vh; /* Ограничение ширины для главного изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 15px; /* Закругление углов для главного изображения */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для главного изображения */
}

.img-family {
    max-width: 40vh; /* Ограничение ширины для изображений семьи */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 8px; /* Закругление углов для изображений семьи */
    box-shadow: 0 2px 5px var(--text-block-shadow); /* Тень для изображений семьи */
}

.image-item {
    margin: 10px; /* Отступ между изображениями */
    overflow: hidden; /* Скрытие переполнения */
}


.main-text-block {
    background-color: var(--text-block-background); /* Используем переменную */
    padding: 2vw;
    border-radius: 3vw;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2vh;
    margin-left: 1vw;
    text-align: center;
    display: grid;
    place-items: center;
}

.science-text-block,
.family-text-block {
    background: var(--text-block-background); /* Используем переменную */
    padding: 2vh;
    border-radius: 3vw;
    box-shadow: 0 10px 5px var(--text-block-shadow); /* Используем переменную для тени текстового блока */
    margin-bottom: 2vh;
    text-align: center;
    display: grid;
    place-items: center;
}

.science-text-block {
    margin-right: 40px; /* Специфичный стиль для science текст блока */
    margin-left: 40px;
}

.family-text-block {
    margin-left: 40px; /* Специфичный стиль для family текст блока */
}

.text-block h1,
.text-block h2 {
    margin: 0; /* Убираем отступы у заголовков */
}

.text-block p {
    text-align: center; /* Центрирование текста в текстовом блоке */
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

.main-background {
    position: relative; /* Для позиционирования псевдоэлемента */
    height: 100vh;
    padding: 20px;
    overflow: hidden; /* Чтобы скрыть псевдоэлемент, если он выходит за пределы */
}

.main-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./images/background2.jpg');
    background-size: auto;
    background-repeat:;
    background-position: center;
    opacity: 0.9;
    z-index: -1;
}

.photo-page {
    padding: 40px; /* Отступы вокруг страницы */
}

.photo-gallery {
    display: flex; /* Используем Flexbox для размещения фотографий */
    flex-wrap: wrap; /* Позволяем переносить элементы на новую строку */
    justify-content: center; /* Центрируем фотографии по горизонтали */
    justify-content: center; /* Центрируем фотографии по горизонтали */
}

.photo-item {
    background-color: white; /* Белый фон для каждого элемента */
    border: 1px solid #ddd; /* Легкая рамка вокруг элемента */
    border-radius: 8px; /* Закругление углов */
    margin: 10px; /* Отступы между элементами */
    padding: 10px; /* Внутренние отступы */
    text-align: center; /* Центрируем текст */
    width: 200px; /* Ширина элемента */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень для эффекта поднятия */
}

.photo {
    width: 100%; /* Ширина изображения 100% от родительского элемента */
    height: 150px; /* Фиксированная высота для всех изображений */
    object-fit: cover; /* Обеспечивает сохранение пропорций изображения */
    border-radius: 4px; /* Закругление углов изображения */
    cursor: pointer; /* Указатель при наведении на изображение */
}

.photo-description {
    margin-top: 10px; /* Отступ сверху для описания */
    font-size: 14px; /* Размер шрифта для описания */
    color: #555; /* Цвет текста для описания */
}

.modal {
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    z-index: 1000; /* Убедитесь, что модальное окно выше других элементов */
}

.modal img {
    max-width: 90%; /* Максимальная ширина изображения в модальном окне */
    max-height: 90%; /* Максимальная высота изображения в модальном окне */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


.button_add {
    position: relative;
    top: -5vh;
    right: -40vw;
    background-color: var(--button-background); /* Используем переменную */
    border: none;
    color: var(--button-text-color); /* Используем переменную */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Закругление углов кнопок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.button_add:hover {
    background-color: var(--button-hover-background); /* Используем переменную */
    color: white; /* Цвет текста при наведении */
}
